.report-section {
    position: relative;
    flex-grow: 1;
    margin-top: 20px;

    .report-container {
        position: absolute;
        width: auto;
        top: 0px;
        bottom: 0px;
        left: 40px;
        right: 40px;
        overflow: hidden;
        font-size: 11px;
        box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.13);
        border-radius: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        .header {
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #efefef;

            .title {
                font-weight: bold;
                text-transform: uppercase;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

                .arrow {
                    &.hide {
                        display: none;
                    }
                }
            }

            .last-updated {
                font-size: 9px;
                i {
                    font-style: italic;
                }

                span {
                    font-weight: 700;
                    max-width: 250px;
                    overflow: hidden;
                }
            }

            .filters {
                .search-box {
                    width: auto;
                    position: relative;
                    display: block;
                    box-sizing: border-box;
                    padding: 0px 30px;
                    border-radius: 55px;
                    border: 0;
                    background: #efefef;
                    color: black;
                    font-size: 13px;
                    outline: none;
                    margin-right: 10px;

                    &.hide {
                        display: none;
                    }

                    .search {
                        min-width: 160px;
                        position: relative;
                        display: block;
                        padding: 8px;
                        border-radius: 0;
                        border: 0;
                        background: #efefef;
                        color: black;
                        font-size: 13px;
                        outline: none;
                        font-family: "Raleway";
                    }

                    .close-button {
                        display: none;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 10px;
                        width: 20px;
                        height: 12px;
                        transform: translateY(-50%);
                        background-image: url(../images/report/search-gray.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                    }

                    &:focus-within,
                    &.filled {
                        .search {
                            background-color: white;
                        }
                        background-color: white;
                        box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.13);

                        .close-button {
                            display: block;
                            position: absolute;
                            top: 50%;
                            right: 10px;
                            width: 20px;
                            height: 8px;
                            transform: translateY(-50%);
                            background-image: url(../images/close.svg);
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .body {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 2px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #888;
            }

            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

            .back-button-container {
                display: block;
                box-sizing: border-box;
                /* height: 15px; */
                position: relative;
                padding: 30px 15px 15px 15px;
                text-transform: uppercase;
                font-size: 9px;
                font-weight: 800;

                &.hide {
                    display: none;
                }

                .back-button {
                    position: relative;
                    padding-left: 30px;
                    cursor: pointer;

                    &::before {
                        content: "";
                        position: absolute;
                        height: 10px;
                        width: 15px;
                        top: 50%;
                        left: 8px;
                        transform: translateY(-50%);
                        background-image: url(../images/report/back.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }
            }

            .reports {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-start;
                padding: 20px 20px 80px 20px;

                .report-card {
                    width: 220px;
                    height: 220px;
                    border-radius: 15px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin: 20px;
                    box-sizing: border-box;
                    background-color: #efefef;
                    cursor: pointer;

                    img {
                        &.report-img {
                            width: 80px;
                            height: auto;
                            margin: 20px;
                        }
                    }

                    .report-name {
                        margin-top: 10px;
                        text-transform: uppercase;
                        font-weight: 800;
                    }

                    &:hover {
                        background-color: white;
                        box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.13);
                    }
                }
            }

            .contact-tracing-block {
                position: relative;
                display: block;
                height: 90%;

                .search-box {
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 500px;
                    display: block;
                    box-sizing: border-box;
                    padding: 15px 80px 15px 20px;
                    border-radius: 55px;
                    border: 0;
                    background: #efefef;
                    color: black;
                    font-size: 13px;
                    outline: none;
                    margin: auto;

                    .search {
                        width: 100%;
                        position: relative;
                        display: block;
                        padding: 8px;
                        border-radius: 0;
                        border: 0;
                        background: #efefef;
                        color: black;
                        font-size: 15px;
                        outline: none;
                        font-family: "Raleway";
                    }

                    .search-button {
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        width: 80px;
                        height: 30px;
                        transform: translateY(-50%);
                        background-image: url(../images/report/search-gray.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        cursor: pointer;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: -250px;
                        width: 200px;
                        height: 200px;
                        transform: translateY(-50%);
                        background-image: url(../images/report/search-bg-1.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: -250px;
                        width: 200px;
                        height: 200px;
                        transform: translateY(-50%);
                        background-image: url(../images/report/search-bg-2.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                    }

                    &:focus-within,
                    &.filled {
                        .search {
                            background-color: white;
                        }
                        background-color: white;
                        box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.13);
                    }
                }

                .search-result-container {
                    display: block;
                    min-height: 100px;
                    margin-bottom: 80px;

                    .result-item {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        align-items: center;
                        justify-content: space-between;
                        position: relative;
                        background-color: #efefef;
                        border-radius: 10px;
                        width: 75%;
                        margin: 4px auto;
                        //animation: fadeIn ease-in-out 0.8s;
                        transition: ease-in-out 0.8s;

                        .column {
                            padding: 20px 10px;
                            text-align: left;
                            font-size: 11px;
                            border-bottom: 1px solid #efefef;
                            transition: all 0.6s;

                            &.status {
                                width: 6%;
                                height: 20px;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: 15px;
                                background-image: url("../images/arriving.svg");

                                &.check-out {
                                    background-image: url("../images/left.svg");
                                }

                                &.check-in {
                                    background-image: url("../images/present.svg");
                                }

                                &.arriving {
                                    background-image: url("../images/arriving.svg");
                                }
                            }

                            &.name {
                                width: 22%;

                                .temp {
                                    position: relative;
                                    font-size: 14px;
                                    display: none;

                                    &.celsius {
                                        &::after {
                                            content: "\2103";
                                        }
                                    }
                                    &.fahrenheit {
                                        &::after {
                                            content: "\2109";
                                        }
                                    }
                                }
                            }

                            &.temperature {
                                width: 8%;

                                .temp {
                                    position: relative;
                                    font-size: 14px;

                                    &.celsius {
                                        &::after {
                                            content: "\2103";
                                        }
                                    }
                                    &.fahrenheit {
                                        &::after {
                                            content: "\2109";
                                        }
                                    }
                                }
                            }
                            &.details {
                                width: 52%;

                                .time {
                                    font-weight: 800;
                                }

                                .connector {
                                    width: 100px;
                                    height: 100%;
                                    display: inline-block;
                                    position: relative;

                                    &::before {
                                        content: "";
                                        width: 40px;
                                        height: 2px;
                                        position: absolute;
                                        top: 50%;
                                        left: 15px;
                                        transform: translateY(-50%);
                                        background-color: orange;
                                    }

                                    &::after {
                                        content: "";
                                        width: 8px;
                                        height: 8px;
                                        position: absolute;
                                        top: 50%;
                                        /* right: 15px; */
                                        transform: translateY(-50%);
                                        background-color: orange;
                                        border-radius: 50%;
                                        left: 60px;
                                    }
                                }

                                .contacted {
                                }
                            }
                            &.trace {
                                display: none;
                            }
                            &.star {
                                display: none;
                            }
                            &.count {
                                width: 12%;
                            }
                        }

                        &:hover {
                            animation: fadeIn ease-in-out 0.8s;
                            .column {
                                padding: 30px 10px;

                                &.status,
                                &.count,
                                &.temperature {
                                    display: none;
                                }

                                &.name {
                                    font-size: 14px;
                                    width: 25%;
                                    margin-left: 10px;
                                    .temp {
                                        display: block;
                                    }
                                }

                                &.details {
                                    width: 55%;
                                }

                                &.trace {
                                    display: block;
                                    width: 15%;

                                    .trace-button {
                                        box-sizing: border-box;
                                        display: block;
                                        margin: auto;
                                        background-color: white;
                                        border-radius: 30px;
                                        padding: 13px 16px 10px 44px;
                                        /* text-align: right; */
                                        position: relative;
                                        box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.13);
                                        cursor: pointer;
                                        text-transform: uppercase;
                                        width: 110px;
                                        font-size: 10px;

                                        &::before {
                                            content: "";
                                            width: 26px;
                                            height: 16px;
                                            position: absolute;
                                            top: 50%;
                                            left: 14px;
                                            transform: translateY(-50%);
                                            background-image: url(../images/report/trace.svg);
                                            background-position: center;
                                            background-repeat: no-repeat;
                                            background-size: contain;
                                        }
                                    }
                                }

                                &.star {
                                    display: block;
                                    height: 12px;
                                    background-image: url(../images/star-gray.svg);
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: 15px;
                                    margin-right: 10px;
                                    padding-left: 60px;
                                }
                            }
                        }
                    }

                    .no-result {
                        display: block;
                        padding: 40px;
                        text-align: center;
                        font-weight: 700;
                    }
                }

                .tracing-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    .tracing-details {
                        width: 45%;
                        position: absolute;
                        top: 50px;
                        bottom: 0;
                        left: 15%;
                        overflow-y: auto;
                        overflow-x: hidden;

                        &::-webkit-scrollbar {
                            display: none;
                        }

                        .details-block {
                            display: block;
                            margin: 8px 8px 55px 8px;
                            background: #efefef;
                            padding: 25px 30px;
                            border-radius: 20px;
                            position: relative;

                            &::before {
                                content: "";
                                width: 6px;
                                height: 6px;
                                border-radius: 50%;
                                background-color: orange;
                                position: absolute;
                                top: -4px;
                                left: 4px;
                                transform: translateX(-50%);
                            }

                            &::after {
                                content: "";
                                width: 1px;
                                height: 45px;
                                background-color: orange;
                                position: absolute;
                                bottom: -46px;
                                left: 4px;
                                transform: translateX(-50%);
                            }

                            &:first-child {
                                &::before {
                                    display: none;
                                }
                            }
                            &:last-child {
                                &::after {
                                    display: none;
                                }
                            }

                            .header {
                                display: block;
                                width: 100%;
                                padding: 10px;
                                position: relative;
                                font-weight: 700;

                                .email {
                                    margin-right: 30px;
                                }

                                .tel {
                                    margin-right: 30px;
                                }

                                .star {
                                    display: inline-block;
                                    position: absolute;
                                    width: 20px;
                                    height: 12px;
                                    top: 50%;
                                    right: 10px;
                                    transform: translateY(-50%);
                                    background-image: url(../images/star-gray.svg);
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                }
                            }

                            .sub-header {
                                display: block;
                                padding: 10px;
                                width: 100%;

                                .name {
                                    display: block;
                                    font-size: 16px;
                                    font-weight: 800;
                                    margin-bottom: 8px;
                                }

                                .temperature {
                                    display: block;
                                    font-size: 14px;

                                    &.celsius {
                                        &::after {
                                            content: "\2103";
                                        }
                                    }
                                }
                            }

                            .details {
                                display: block;
                                position: relative;
                                padding: 10px;
                                width: 100%;

                                .title {
                                    display: block;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                    margin: 4px 0;
                                }

                                .item {
                                    display: block;
                                    position: relative;
                                    margin-bottom: 8px;
                                    font-size: 9px;
                                    font-weight: 600;
                                    padding-left: 10px;

                                    &::before {
                                        content: "";
                                        width: 6px;
                                        height: 6px;
                                        border-radius: 50%;
                                        background-color: black;
                                        position: absolute;
                                        top: 8px;
                                        left: 4px;
                                        transform: translateX(-50%);
                                    }

                                    &::after {
                                        content: "";
                                        width: 1px;
                                        height: 35px;
                                        background-color: black;
                                        position: absolute;
                                        bottom: -12px;
                                        left: 4px;
                                        transform: translateX(-50%);
                                    }

                                    &:last-child {
                                        &::after {
                                            display: none;
                                        }
                                    }

                                    .name {
                                        display: block;
                                        padding: 6px 10px;
                                    }

                                    .other {
                                        display: block;
                                        padding: 6px 10px;

                                        .email {
                                            margin-right: 30px;
                                        }

                                        .tel {
                                            margin-right: 30px;
                                        }

                                        .star {
                                            display: inline-block;
                                            position: absolute;
                                            width: 20px;
                                            height: 8px;
                                            top: 50%;
                                            right: 0px;
                                            transform: translateY(-50%);
                                            background-image: url(../images/star-gray.svg);
                                            background-position: center;
                                            background-repeat: no-repeat;
                                            background-size: contain;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .tracing-nav {
                        width: 20%;
                        height: auto;
                        max-height: 250px;
                        position: absolute;
                        top: 50%;
                        right: 15%;
                        overflow: auto;
                        transform: translateY(-50%);

                        &::-webkit-scrollbar {
                            width: 2px;
                        }

                        /* Track */
                        &::-webkit-scrollbar-track {
                            background: #f1f1f1;
                        }

                        /* Handle */
                        &::-webkit-scrollbar-thumb {
                            background: #888;
                        }

                        /* Handle on hover */
                        &::-webkit-scrollbar-thumb:hover {
                            background: #555;
                        }

                        .nav-item {
                            padding: 10px 20px;
                            display: inline-block;
                            margin: 4px;
                            cursor: pointer;
                            text-transform: uppercase;
                            text-decoration: none;

                            &:hover {
                                background-color: #efefef;
                                border-radius: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1088px) {
    .report-section {
        .report-container {
            .body {
                .contact-tracing-block {
                    .search-box {
                        width: 400px;

                        &::before {
                            left: -200px;
                            width: 150px;
                            height: 150px;
                        }

                        &::after {
                            right: -200px;
                            width: 150px;
                            height: 150px;
                        }
                    }


                    .search-result-container {
                        .result-item{
                            width: 85%;

                            .column {
                                &.name {
                                    width: 18%;
                                }
                            }
                        }
                    }

                    .tracing-container{

                        .tracing-details {
                            width: 55%;
                            left: 5%;
                        }

                        .tracing-nav {
                            width: 30%;
                            right: 5%;
                        }
                    }

                }
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
